<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gr.aueb.sweng22.team11">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team11"
        tools:targetApi="31">
        <!--
     TODO: Before you run your application, you need a Google Maps API key.

     To get one, follow the directions here:

        https://developers.google.com/maps/documentation/android-sdk/get-api-key

     Once you have your API key (it starts with "AIza"), define a new property in your
     project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
     "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDaha-QFy3QWUWOXm9g2-U0J4-s39srDos" />

        <activity
            android:name=".view.Renter.RenterMaps.RenterMapsActivity"
            android:exported="true"/>
        <activity
            android:name=".view.Ad.AdAppointments.AdAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".view.Renter.RenterAppointments.RenterAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".view.Ad.HandleRequest.HandleRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.Renter.RenterCreateRequest.RenterCreateRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.Renter.RenterSearchAds.RenterSearchAdsActivity"
            android:exported="false" />
        <activity
            android:name=".view.Owner.CreateAd.CreateAdActivity"
            android:exported="false" />
        <activity
            android:name=".view.Ad.AdRequests.AdRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".view.Ad.AdPage.AdPageActivity"
            android:exported="false" />
        <activity
            android:name=".view.Ad.AdInfo.AdInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_ad_info"
            android:theme="@style/Theme.Team11.NoActionBar" />
        <activity
            android:name=".view.User.RenterRegister.RenterRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".view.User.OwnerRegister.OwnerRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".view.Renter.RenterPage.RenterPageActivity"
            android:exported="true" />
        <activity
            android:name=".view.Renter.RenterInfo.RenterInfoActivity"
            android:exported="true" />
        <activity
            android:name=".view.Owner.OwnerPage.OwnerPageActivity"
            android:exported="true" />
        <activity
            android:name=".view.Owner.OwnerAds.OwnerAdsActivity"
            android:exported="true"
            android:label="@string/my_ads" />
        <activity
            android:name=".view.Owner.OwnerInfo.OwnerInfoActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.User.Login.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".view.SplashMainScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>